<td>{{id}}</td>
<td>????</td>
<td>{{name}}</td>
<td>{{size}}</td>
<td>{{type}}</td>
<td><a href="/delete/?id={{id}}" class="Action">delte</a></td>
<td><a href="/info/?id={{id}}" class="Action">info</a></td>
<td><a href="{{download}}" class="Action" download>download</a></td>